@using TechJobsPersistent.Models
@model Employer

<h1>@Model.Name</h1>

<table class="table">
    <tr>
        <th>Employer</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>@Model.Location</td>
    </tr>

</table>